<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>AI TECNOLOGIA</span>
            <h1>IA para criar um logo para o seu site ou empresa</h1>
        </div>
        <img ngSrc="./assets/o-que-esperar-da-IA-em-2021.jpg" width="600" height="250">
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
          <h2>
            95% das<br />
            empresas
          </h2>
        </div>
        <p>Não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>
    <section>
      <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <newsletter-form></newsletter-form>
</main>